<div class="default-page">
    <div class="header">
        <h1 id="main-title" class="container">{{ifed store.title 'Almastore'}}</h1>
        <h3 class="container">{{ifed store.subTitle 'The Official Merchandise Store'}}</h3>
    </div>
    <div class="main container clearfix">
        <!-- <h1>Getting started</h1>
        <p>Don't worry, we've got your back.</p> -->
        <ul class="getting-started">
            <li class="clearfix">
                <div class="step">
                    <div class="sprite one"></div>
                    <h3>Product Name</h3>
                    <p>
                    Product Details
                    <p>{{{ifed  store.title 'my name'}}}</p>
                    </p>
                </div>
            </li>
        </ul>


        <div class="links">
            <!-- <h3>Links</h3> -->
            <ul class="link-list">

                <h4>Docs</h4>
                <a target="_blank" href="http://sailsjs.org/#!documentation/anatomy"><li>App Structure</li></a>
                <a target="_blank" href="http://sailsjs.org/#!documentation/reference"><li>Reference</li></a>
                <a target="_blank" href="http://links.sailsjs.org/docs/faq"><li>FAQ</li></a>
                <a target="_blank" href="http://sailsjs.org"><li>Supported Databases</li></a>

                <h4>Tutorials</h4>
                <a target="_blank" href="http://links.sailsjs.org/community/sails101"><li>Sails 101</li></a>

                <h4>Community</h4>
                <a target="_blank" href="http://stackoverflow.com/search?q=sails.js"><li>StackOverFlow</li></a>
                <a target="_blank" href="https://github.com/balderdashy/sails"><li>GitHub</li></a>
                <a target="_blank" href="https://groups.google.com/forum/#!forum/sailsjs"><li>Google Group</li></a>
                <a target="_blank" href="http://webchat.freenode.net/"><li>IRC (#sailsjs on freenode)</li></a>

            </ul>
        </div>
    </div>
</div>